.button-entrar {

    width: 90%;
    max-width: 33.5rem; 
    height: 3rem; 
    padding: 0.75rem; 
    background-color: var(--cor-principal);
    color: white;
    border: none;
    border-radius: 1.5rem; 
    font-size: 2rem;
    font-style: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-entrar:hover {
    background-color: var(--cor-secundaria);
}

.button-cadastro-ususario {
    width: 90%;
    max-width: 33.5rem; /* antes 574px */
    height: 3.2rem; /* antes 66px */
    padding: 0.75rem;
    color: var(--cor-principal);
    border: 0.125rem solid var(--cor-principal); /* antes 2px */
    border-radius: 1.5rem;
    font-size: 1rem; /* antes 18px */
    cursor: pointer;
    background-color: #ffff;
}

.button-cadastro-ususario:hover {
    color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    background-color: rgba(217, 217, 217, 0.8);
}

.button-cadastro-empresa {
    width: 90%;
    max-width: 33.5rem;
    height: 3.2rem;
    padding: 0.75rem;
    color: var(--cor-secundaria);
    border: 0.125rem solid var(--cor-secundaria);
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffff;
}

.button-cadastro-empresa:hover {
    color: var(--cor-principal);
    border-color: var(--cor-principal);
    background-color: rgba(217, 217, 217, 0.8);
}

.trocar-idioma {
    width: 100%;
    max-width: 14rem; 
    padding: 0.75rem;
    background-color: #d9d9d9;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.1rem; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
    
}

.trocar-idioma:hover {
    background-color: rgba(162, 162, 162, 0.8);
}

.bandeira-idioma {
    width: 2rem; 
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.0625rem solid #000; 
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    background-color: #D9D9D9;
    border: 0.0625rem solid #6B7280;
    border-radius: 1.5rem;
    font-size: 1rem; 
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    background-color: white;
    height: 3rem;
}  

#error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
#error-message2 {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}



.title {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    background: linear-gradient(90deg, var(--cor-principal), var(--cor-secundaria));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.perfil {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 6px;
    text-decoration: none;
    color: black;
}

.sair {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: black;
}
