:root {
    --cor-fundo: rgba(217,217,217,1);
}

body {
    margin: 0;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}

.title {
    font-family: var(--fonte-principal);
    font-size: 1.8rem;
    background: linear-gradient(90deg, var(--cor-principal), var(--cor-secundaria));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.perfil {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 6px;
    text-decoration: none;
    color: black;
}

.sair {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background: white;
    gap: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.voltar-idioma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.btn-voltar {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 0.9rem;
}

.trocar-idioma {
    width: auto;
    background-color: gray;
    color: white;
    font-size: 0.85rem;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.painel {
    padding: 1rem;
}

.titulo-secao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.subtitulo {
    font-size: 1.3rem;
    color: #666;
    margin: -0.5rem 0 1rem 0.8rem;
}

.form-vaga {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1rem;
}

.form-vaga input,
.form-vaga textarea {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background: #eee;
}

.form-vaga textarea {
    height: 100px;
    resize: none;
}

.btn-editar {
    margin-top: 0.5rem;
    background: #2f66d0;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .painel {
        max-width: 800px;
        margin: auto;
    }
}