
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.divider {
    width: 100%;
    max-width: 33.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 0.125rem solid #d9d9d9;
}

.divider span {
    padding: 0 1rem;
    color: #6B7280;
    font-size: 1.1rem;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    gap: 1.5rem;
}

.site-name {
    color: white;
    margin-bottom: 2rem;

    h1 {
        font-size: 3rem;
        margin: 0;
        text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-size: 1rem;
        margin: 0;
    }
}

.box-login {
    height: auto;
    width: 80%;
    max-width: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: #ffff;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        align-self: flex-start;
    }

    h5 {
        margin: 1rem 0;
        color: #6B7280;
        font-size: 1.1rem;
    }
}

.info-texto {
    margin-top: 0;
    text-align: center;
    color: #ffffff;
    font-size: 0.85rem;
}

/* 🖥️ DESKTOP */

@media (min-width: 600px) {

    .container {
        flex-direction: row;
        justify-content: center;
        padding: 0 2.5rem;
        gap: 2rem;
    }

    .site-name {
        margin-bottom: 0;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }

    .box-login {
        width: 90%;
        max-width: 38rem;
    }
}