:root {
    --cor-fundo: rgba(217,217,217,1);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}



img {
    max-width: 100%;
    height: auto;
}

.voltar-idioma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;
    margin-top: 3rem;
}

.trocar-idioma {
    background-color: gray;
    margin-left: auto;
}

.menu-container {
    padding: 2rem 1rem;
    text-align: center;
}

.menu-topo h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.menu-topo p {
    color: #6B7280;
    font-size: 1.2rem;
}

.menu-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    background: #eeeeee;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

.card h2 {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.card p {
    font-size: 1.3rem;
    color: #6B7280;
}

.icone {
    font-size: 2.5rem;
    color: var(--cor-principal);
}

@media (min-width: 768px) {

    .menu-topo h1 {
        font-size: 3rem;
    }

    .menu-cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

        .header {
        padding: 2rem 3rem;
    }
        .title {
        font-size: 3.5rem;
    }

    .card {
        width: 45%;
    }
    .voltar-idioma {

    margin-top: 4rem;
}
}

@media (min-width: 1024px) {

    .card {
        width: 25%;
    }
    .voltar-idioma {

    margin-top: 6rem;
}

    .header {
        padding: 2rem 3rem;
    }
        .title {
        font-size: 3.5rem;
    }



}