:root {
    --cor-fundo: rgba(217,217,217,1);
}

body {
    margin: 0;
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}



img {
    max-width: 100%;
    height: auto;
}

.voltar-idioma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.btn-voltar {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 0.9rem;
}

.trocar-idioma {
    background-color: gray;
}

.titulo {
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 0 0.8rem;
}

.filtro-vagas {
    background: #e5e5e5;
    padding: 0.8rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0.8rem;
}

.filtro-vagas input {
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 0.9rem;
}

.info-vagas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
}

.lista-vagas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0.8rem;
}

.card-vaga {
    background: #f3f3f3;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-vaga h2 {
    font-size: 1.1rem;
    margin: 0;
}

.card-vaga p {
    font-size: 0.8rem;
    color: #555;
    margin: 0;
}

.btn-detalhes {
    margin-top: 0.5rem;
    background: var(--cor-principal);
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

.subtitulo {
    font-size: 0.95rem;
    color: #666;
    margin: -0.5rem 0 1rem 0.8rem;
}

@media (min-width: 768px) {

    .titulo {
        font-size: 2rem;
    }
            .header {
        padding: 2rem 3rem;
    }
        .title {
        font-size: 3.5rem;
    }

    .lista-vagas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .voltar-idioma {
        padding: 0rem 0rem;
    }


        .header {
        padding: 2rem 3rem;
    }
        .title {
        font-size: 3.5rem;
    }

    .filtro-vagas {
        margin: 0 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .filtro-vagas input {
        width: 70%;
    }

    .lista-vagas {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem 2rem;
    }
}